* {
  font-family: "Roboto", sans-serif;
  color: black;
}

p {
  margin: 0;
}
.header-link-logo {
  color: black;
}
.logo {
  color: #2196f3;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
.hero-title {
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  border-radius: nullpx;
}
.hero {
  height: 600px;
  width: 1600px;
  background-color: #2f303a;
}
.header {
  background-color: #ececec;
}
